import React from 'react'

{{#if wantCSS}}
import styles from './styles.css'
{{/if}}

const {{ properCase name }} = () => (
  {{#if wantCSS}}
  <div className={{curly true}}styles.{{ camelCase name }}{{curly}}>
  {{else}}
  <div>
  {{/if}}
  </div>
)

export default {{ properCase name }}
